*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    padding-top: 4em;
    background-color: grey;
  
}

#form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}


#form .message, .btn_crypt, .btn_decrypt {
    font-size: 1.5em;
    padding: 0.5em;
    margin-bottom: 1em;
}

.message {
    padding: 0.5em;
}

.btn_crypt, .btn_decrypt {
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 0.2em;
    border: none;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease; 
}

.btn_crypt:hover, .btn_decrypt:hover {
    background-color: rgb(0, 102, 204); 
}

.show {
    width: 90%;
    max-width: 400px; 
    overflow-wrap: anywhere;
    margin: 2em auto;
    background-color: #333;
    color: white;
    padding: 1.5em;
    font-size: 1.5em;
    border-radius: 0.5em; 
}

@media (max-width: 576px) {
    #form .message, .btn_crypt, .btn_decrypt {
        font-size: 1em; 
    }
    .show {
        font-size: 1.2em; 
        width: 80% !important;
        margin: auto;
    }
}
@media (min-height: 100vh){
    body{
        padding-bottom: 2em !important;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    #form .message, .btn_crypt, .btn_decrypt {
        font-size: 1.2em;
    }
}